/* You can add global styles to this file, and also import other style files */
*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(12, 325, 125);
}
